<%- include("../../partials/header") %> <%- include ("../admin/mobile-nav") %>
<section class="index-container">
  <%- include ("../admin/admin-nav") %>
  <div class="container">
    <div class="index-display">
      <span>Articles: <%= articles.length %></span>
    </div>
  </div>
</section>
<%- include("../../partials/footer") %>
