<%- include ("../../partials/header") %>

<section class="featured-section">
  <%- include ("../../admin/admin-nav") %>
  <div class="container">
    <div class="row">
      <% Articles.forEach( Article => { %>
      <div class="feature-articles col s12 m6 l4">
        <div class="card">
          <div class="card-image article-image">
            <a href="#">
              <img src="<%= Article.main_image %>" alt="#" />
            </a>
          </div>
          <div class="card-content article-content">
            <h4 class="card-title article-title">
              <a href="/featured/articles/<%= Article._id %>/edit">go</a>
              <%= Article.description.brief %>
            </h4>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include ("../../partials/footer") %>
