<%- include ("../../../partials/header") %> <%- include
("../../admin/mobile-nav") %>
<section class="image-update">
  <div class="image-update_container container">
    <h1>Edit Photo - <%= product.title %></h1>
    <div class="image-container">
      <img src="<%= product.image.url %>" alt="" />
    </div>
    <form
      action="/articles/<%= article.slug %>/products/<%= product.slug %>/product-photo?_method=PATCH"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        class="photo-update-container"
        type="file"
        name="Product[image]"
        required
      />
      <div class="button-container">
        <button type="submit" class="go-button btn">update</button>
        <a href="/articles/<%= article.slug %>" class="static-button btn"
          >cancel</a
        >
      </div>
    </form>
  </div>
</section>

<%- include ("../../../partials/footer") %>
